@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'leaflet/dist/leaflet.css';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "openSans";
  src: url("/fonts/openSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("/fonts/openSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("/fonts/openSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Semi-Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("/fonts/openSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("/fonts/openSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Extra-Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("/fonts/openSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("/fonts/openSans/OpenSans-MediumItalic.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
  font-style: italic;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/effra/Effra_Trial_Md.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/effra/Effra_Trial_Lt.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/effra/Effra_Trial_Hair.ttf") format("truetype");
  font-weight: 100; /* Hairline */
  font-style: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/effra/Effra_Trial_Blk.ttf") format("truetype");
  font-weight: 700; /* Black/Bold */
  font-style: normal;
}

@font-face {
  font-family: "effra";
  src: url("/fonts/effra/Effra_Trial.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-dots {
  position: absolute;
  bottom: 20px; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Garante que os dots fiquem sobre a imagem */
}

.slick-dots li button:before {
  font-size: 12px; /* Ajuste o tamanho do ícone do dot */
  color: #dfe0df; /* Cor dos dots */
}

.slick-dots li.slick-active button:before {
  color: #A6BB3C; /* Cor do dot ativo */
}




.custom-slider {
  position: relative; /* Garante que os dots sejam posicionados em relação a este container */
  overflow: visible;
}

.custom-slider .slick-dots {
  position: absolute;
  bottom: -30px; /* Ajuste conforme necessário para garantir que os dots fiquem abaixo da imagem */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Garante que os dots fiquem sobre a imagem */
}

.custom-slider .slick-dots li button:before {
  font-size: 12px; /* Ajuste o tamanho do ícone do dot */
  color: #5e5e5e; /* Cor dos dots */
}

.custom-slider .slick-dots li.slick-active button:before {
  color: #ef7b0f; /* Cor do dot ativo */
}

/* Estilo da barra de rolagem apenas para a tabela */
.table-scroll::-webkit-scrollbar {
  width: 8px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: #4C9162; /* Cor do polegar */
  border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-track {
  background-color: #E7F1E9; /* Cor do fundo */
}

/* Ocultar barra de rolagem padrão dentro de um container específico */
.table-scroll.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.grid-scroll::-webkit-scrollbar {
  width: 8px;
}

.grid-scroll::-webkit-scrollbar-thumb {
  background-color: #4C9162; /* Cor do polegar */
  border-radius: 10px;
}

.grid-scroll::-webkit-scrollbar-track {
  background-color: #E7F1E9; /* Cor do fundo */
}

/* Ocultar barra de rolagem padrão dentro de um container específico */
.grid-scroll.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

